uyga_vazifa_Backend/telegram_chat/node_modules/node_modules
uyga_vazifa_Backend/telegram_chat/node_modules/pnpm-lock.yaml
uyga_vazifa_Backend/telegram_chat/backend/node_modules
uyga_vazifa_Backend/telegram_chat/backend/pnpm-lock.yaml