uyga_vazifa_domdan/telwin_css/.gitignore
uyga_vazifa_domdan/imtihon_dom_jamshiddin/package-lock.json
uyga_vazifa_Backend/dars-3_Jamshiddin/pnpm-lock.yaml
uyga_vazifa_Backend/dars-3_Jamshiddin/node_modules/.pnpm-workspace-state-v1.json
uyga_vazifa_Backend/dars-6_Jamshiddin/node_modules/.pnpm-workspace-state-v1.json
uyga_vazifa_Backend/dars-10_Jamshiddin/pnpm-lock.yaml
uyga_vazifa_Backend/dars-10_Jamshiddin/node_modules/.modules.yaml
uyga_vazifa_Backend/dars-10_Jamshiddin/node_modules
uyga_vazifa_Backend/dars-11_Jamshiddin/node_modules
uyga_vazifa_Backend/dars-11_Jamshiddin/pnpm-lock.yaml
uyga_vazifa_Backend/telegram_chat/node_modules/node_modules
uyga_vazifa_Backend/telegram_chat/node_modules/pnpm-lock.yaml
uyga_vazifa_Backend/telegram_chat/backend/node_modules/.modules.yaml
uyga_vazifa_Backend/telegram_chat/backend/node_modules
uyga_vazifa_Backend/telegram_chat/backend/pnpm-lock.yaml
uyga_vazifa_Backend/uyga vazifa_13_Jamshiddin/pnpm-lock.yaml
uyga_vazifa_Backend/uyga vazifa_13_Jamshiddin/node_modules
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/Paradigm_Shift/Public/pnpm-lock.yaml
uyga_vazifa_Backend/Uyga_vazifa_14_JAmshiddin/Paradigm_Shift/Public/node_modules
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/messiveliy/public/pnpm-lock.yaml
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/messiveliy/public/node_modules
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/ethereal/pnpm-lock.yaml
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/ethereal/node_modules
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/prolugue/node_modules
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/prolugue/pnpm-lock.yaml
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/Paradigm_Shift/pnpm-lock.yaml
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/Paradigm_Shift/node_modules
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/messiveliy/pnpm-lock.yaml
uyga_vazifa_Backend/Uyga_vazifa_14_Jamshiddin/messiveliy/node_modules
