uyga_vazifa_domdan/telwin_css/.gitignore
uyga_vazifa_domdan/imtihon_dom_jamshiddin/package-lock.json
uyga_vazifa_Backend/dars-3_Jamshiddin/pnpm-lock.yaml
uyga_vazifa_Backend/dars-3_Jamshiddin/node_modules/.pnpm-workspace-state-v1.json
