<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= projectName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container-fluid d-flex p-0">
      <!-- SIDEBAR -->
      <div class="sidebar pe-4 pb-3 bg-secondary">
        <nav class="navbar navbar-dark">
          <a href="/index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">
              <i class="fa fa-star me-2"></i><%= projectName %>
            </h3>
          </a>

          <div class="navbar-nav w-100">
            <a href="/index" class="nav-item nav-link">
              <i class="fa fa-tachometer-alt me-2"></i>Dashboard
            </a>
            <a href="/table" class="nav-item nav-link active">
              <i class="fa fa-table me-2"></i>Tables
            </a>
            <a href="/signin" class="nav-item nav-link">Sign In</a>
            <a href="/signup" class="nav-item nav-link">Sign Up</a>
          </div>
        </nav>
      </div>

      <!-- CONTENT -->
      <div class="content w-100">
        <!-- TOP NAV -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark px-4 py-2">
          <span class="navbar-text text-light">Users Table</span>
        </nav>

        <!-- TABLE -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-secondary rounded p-4">
            <h6 class="mb-4 text-white">Users</h6>

            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                </tr>
              </thead>

              <tbody>
                <% table.forEach(item => { %>
                <tr>
                  <th scope="row"><%= item.scope %></th>
                  <td><%= item.first %></td>
                  <td><%= item.last %></td>
                  <td><%= item.email %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>

        <!-- FOOTER -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-secondary rounded-top p-3 text-center text-white">
            &copy; <a href="/index" class="text-primary">Go Back Home</a>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
