* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1216px;
}

.body {
  background-color: #e5e5e5;
}
/*Umumiy style lar berildi*/
.title {
  font-family: var(--second-family);
  font-weight: 700;
}
.text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 21px;
  line-height: 152%;
  color: #7d7987;
}
.line {
  border-radius: 5px;
  width: 56px;
  height: 2px;
  background: #000;
}

button {
  border-radius: 55px;
  border: 2px solid #458ff6;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #458ff6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 56px;
}
button.btn__left {
  display: inline-block;
}
.button:hover {
  color: white;
  background: rgba(0, 0, 255, 0.616);
}
/*logo sectoin boshlandi*/
.logo {
  padding: 84px 0;
  display: flex;
  justify-content: space-between;
}
.logo_menu_name {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: #1f1534;
}
/*intro sectoin boshlandi*/
.intro {
  padding-bottom: 176px;
}

.intro__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__box_title {
  width: 445px;
  margin-bottom: 25px;
}
.intro__box_text {
  margin-bottom: 39px;
  width: 445px;
}

/*service sectoin boshlandi*/
.sevice__block {
  width: 1169px;
  padding-bottom: 65px;
}
.service__title {
  text-align: center;
  margin-bottom: 26px;
}
.service__line {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 33px;
}
.service__dis {
  width: 952px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px;
  text-align: center;
}

.service__box_list {
  width: 1120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 29px;
  row-gap: 37px;
  margin-bottom: 66px;
}
.service__box_item {
  background: #fff;
  border-radius: 20px;
  width: 350px;
  margin-bottom: 19px;
  height: 354px;
  padding: 57px 51px 52px 37px;
}
.service_item_title {
  font-size: 24px;
  line-height: 233%;
  color: #000;
  margin-bottom: 20px;
}
/*provide sectoin boshlandi*/
.provider__box {
  display: flex;
  justify-content: space-between;
  width: 1208px;
  align-items: center;
  padding-bottom: 251px;
}
.provider__box_name {
  width: 422px;
}
.provider__box_title {
  font-size: 36px;
  line-height: 156%;
  color: #000;
  margin-bottom: 26px;
}
.provider__line {
  display: block;
  margin-bottom: 31px;
}

.provider__box_text {
  margin-bottom: 40px;
}
/*mobile__apps sectoin boshlandi*/
.mobile__apps_block {
  display: flex;
  justify-content: space-between;
  width: 1156px;
  align-items: center;
  padding-bottom: 251px;
}
.mobile__apps_block_into {
  width: 420px;
}
.mobile__apps_title {
  font-size: 36px;
  line-height: 156%;
  color: #000;
  margin-bottom: 26px;
}
.mobile__apps_line {
  display: block;
  margin-bottom: 31px;
}

.mobile__apps_text {
  margin-bottom: 40px;
}
/* testimonials sectoin boshlandi*/
.testimonials {
  margin-bottom: 275px;
}
.testimonials__block {
  border-radius: 24px;
  width: 1120px;
  height: 425px;
  background: linear-gradient(223deg, #67c3f3 0%, #5a98f2 100%);
  text-align: center;
}
.testimonials__box {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.testimonials_uper_box {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.testimonials__subbox {
  display: flex;
  flex-direction: column;
}
.testimonials__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  color: #fff;
  padding-top: 61px;
  padding-bottom: 25px;
}
.testimonials__line {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 66px;
}
.name {
  width: 183px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}
.job {
  width: 119px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 267%;
  color: rgba(255, 255, 255, 0.85);
}
.testimonials__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
  color: rgba(255, 255, 255, 0.9);
  width: 408px;
  height: 120px;
}
.article_box {
  margin-bottom: 79;
  text-align: center;
}
.article_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 156%;
  color: #000;
  margin-bottom: 8px;
}
.article__line {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 6px;
  background: #000;
  margin-bottom: 66px;
}

.article_list {
  display: flex;
  justify-content: space-around;
}
.article__item {
  border-radius: 20px;
  width: 350px;
  height: 512px;
  background: #fff;
  margin-bottom: 69px;
}
.article__item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 21px;
  line-height: 152%;
  color: #000;
  margin-top: 24px;
  margin-bottom: 12px;
  width: 245px;
}
.article__item_text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: #7d7987;
  margin-bottom: 25px;
  width: 266px;
  height: 84px;
}
