* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to right,
    hsl(228, 96%, 31%),
    rgba(0, 7, 28, 0.8)
  );
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form_input {
  border: 3px solid #000;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(188, 39, 191);
}

input {
  width: 100%;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 10px;
}

button {
  cursor: pointer;
  background: #000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  background: #3b82f6;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.block.hidden {
  display: none !important;
}

.edit_form {
  background: blue;
  color: #000;
  padding: 25px 30px;
  border: black solid 5px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  width: 350px;
}

.loading {
  background: #222;
  padding: 30px 50px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
