* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  background: linear-gradient(to right, hsl(228, 96%, 31%), #00071c94);
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.form_input_2 {
  border: 4px solid #000;
  border-radius: 13px;
  width: 420px;
  background-color: rgb(188, 39, 191);
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.add-input {
  width: 380px;
  border: 3px solid #000;
  border-radius: 11px;
  padding: 12px 18px;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}
.form_input.active {
  display: flex;
}

.form_input {
  border: 4px solid #000;
  border-radius: 13px;
  width: 430px;
  background-color: rgb(39, 188, 67);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.inputs {
  width: 90%;
  border: 2px solid #111;
  border-radius: 10px;
  padding: 12px 16px;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

/* === Tugma (har ikkalasida umumiy) === */
button {
  cursor: pointer;
  border: none;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background: #333;
}

/* === Box uchun === */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 800px;
  height: 100px;
  background-color: yellowgreen;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
