* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.allCard {
  display: flex;
  flex-direction: column;
}
.box {
  margin-bottom: 2rem;
  padding: 1.25rem;
  max-width: 75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
body {
  background: rgb(224, 23, 231);
  position: relative;
}
.shows {
  max-width: 75rem;
  display: flex;
  gap: 1.25rem;
}
.card,
.card_1 {
  position: relative;
  width: 14rem;
  height: 9rem;
  margin: 0.6rem 0;
  border: 0.3rem solid black;
  border-radius: 40px;
  padding: 1rem;
  font-size: 12px;
}
.card {
  background-color: green;
  color: black;
}
.saveBtn {
  position: absolute;
  left: 40%;
  background-color: blue;
  color: black;
  width: 3rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  font-size: 0.5rem;
}
.showAll {
  border-radius: 1rem;
  padding: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: orange;
}

.card_1 {
  background-color: blue;
  color: #fff;
}
.delete {
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: tomato;
  display: flex;
  justify-self: center;
}
h1,
h2,
p {
  font-size: 0.9rem;
}
