.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
