* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.contanier {
  margin-left: auto;
  margin-right: auto;
}

header {
  margin: 20px 20px;
  padding: 5px 25px;
}
header nav ul li {
  float: left;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #1f1534;
}
header nav ul li a {
  padding: 14px 16px;
}

.nav-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #458ff6;
  color: #fff;
}
.nav-btn-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  color: #233348;
}

main {
  padding-top: 40px;
  text-align: center;
}

nav {
  display: flex;
}
.box {
  float: left;
  width: 50%;
}
