<footer class="foooter">
  <ul class="footer_list">
    <i class="fa-solid fa-address-book"></i>
    Contacts
    <a href="https://t.me/Jama_9133" target="_blank" class="list_item"
      ><i class="fa-brands fa-telegram"></i> Telegram</a
    >
    <a href="https://wa.me/998957990034" target="_blank" class="list_item">
      <i class="fa-brands fa-square-whatsapp"></i>Whatsap
    </a>
    <a href="https://vk.com/id1088370954" target="_blank" class="list_item"
      ><i class="fa-brands fa-vk"></i>VK</a
    >
    <a
      href="https://www.linkedin.com/in/Jamshiddin"
      target="_blank"
      rel="noopener noreferrer"
      class="list_item"
    >
      <i class="fa-brands fa-linkedin"></i>
      LinkedIn
    </a>

    <a
      href="https://github.com/jama050690"
      target="_blank"
      rel="noopener noreferrer"
      class="list_item"
    >
      <i class="fa-brands fa-github"></i>
      GitHub
    </a>
    <a href="" target="_blank" class="list_item"
      ><i class="fa-solid fa-mobile"></i>+998957990034</a
    >
  </ul>
  <p class="footer_text">© 2025 Student App</p>
</footer>
