<footer class="foooter">
  <ul class="footer_list">
    <i class="fa-solid fa-address-book"></i>
    Contacts
    <li class="list_item"><i class="fa-brands fa-telegram"></i> Telegram</li>
    <li class="list_item">
      <i class="fa-brands fa-square-whatsapp"></i>Whatsap
    </li>
    <li class="list_item"><i class="fa-brands fa-vk"></i>VK</li>
    <li class="list_item"><i class="fa-brands fa-linkedin"></i>LinkIden</li>
    <li class="list_item"><i class="fa-brands fa-github"></i>Githup</li>
    <li class="list_item"><i class="fa-solid fa-mobile"></i>+998957990034</li>
  </ul>
  <p class="footer_text">© 2025 Student App</p>
</footer>
