@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  background: linear-gradient(to right, hsl(228, 95%, 15%), #0a2ab994) !important;
}
.container {
   max-width: 1240px;
   padding-left:20px;
   padding-right:20px;
   margin-left: auto;
   margin-right: auto;
}
:root {
  --font-family: "Poppins", sans-serif;
  --text-color: #000;
  --bg: #ffffff;
  --bgc: #f2f2f2;
  --text-color-2:color: #555;
  --font-size: 18px;
  --line-height: 24px;
  --font-weight: 500;
  --login-color: green;
  --radius: 100px;
}

/* MAIN BODY */
body {
  background: var(--bg);
  color: var(--text-color);
  font-family: var(--font-family);
}
.dark_mode {
  --text-color: #fff;
  --bg: #202c36;
  --bgc: #2b3945;
  --login-color: #38d39f;
}

.section-style {
  background-color: var(--bgc);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  font-family: var(--font-family);
}
.carusel-btn {
  height: 4px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.btn-long {
  width: 60px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}

.btn-short {
  width: 14px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.btn-short:hover {
  background-color: #fff;
  width: 30px;
  height: 30px;
}
.dark {
  background: var(--bg);
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark_note_1,
.dark_note_2 {
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 100px;
  width: 34px;
  height: 34px;
}

.dark_note_1 {
  color: #000;
  background: var(--bg);
}
.dark_note_2 {
  display: none;
  background: var(--bg);
  color: var(--text-color);
}
.dark_mode {
  background-color: var(--bg);
  color: var(--text-color);
}

.light_mode {
  color: var(--text-color);
}
.active {
  background-color: var(--login-color) !important;
  color: var(--text-color) !important;
}
.carusel-btn:hover {
  transform: scale(1.35);
}

