@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body.has-bg {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  --font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  --text-white: #ffffff;
  --text-color: #000;
  --bg: #ffffff;
  --bgc: #fff;
  --text-color-2: #555;
  --login-color: green;
  --logo-filter: invert(0);
}

/* MAIN BODY */
body {
  background: var(--bg);
  color: var(--text-color);
  font-family: var(--font-family);
}
.dark_mode {
  --text-white: #e81212;
  --text-color: #fff;
  --text-color-2: #fff;
  --bg: #202c36;
  --bgc: #2b3945;
  --login-color: #38d39f;
  --logo-filter: invert(1) brightness(200%);
}
.logo {
  filter: var(--logo-filter);
  transition: 0.3s;
}
.section-style {
  background-color: var(--bgc);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  font-family: var(--font-family);
}
.carusel-btn {
  height: 4px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.btn-long {
  width: 60px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}

.btn-short {
  width: 14px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.btn-short:hover {
  background-color: #fff;
  width: 30px;
  height: 30px;
}
.dark {
  background: var(--bg);
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark_note_1,
.dark_note_2 {
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 100px;
  width: 34px;
  height: 34px;
}

.dark_note_1 {
  color: #000;
  background: var(--bg);
}
.dark_note_2 {
  display: none;
  background: var(--bg);
  color: var(--text-color);
}
.dark_mode {
  background-color: var(--bg);
  color: var(--text-color);
}

.light_mode {
  color: var(--text-color);
}
.active {
  background-color: var(--login-color) !important;
  color: var(--text-color) !important;
}
.carusel-btn:hover {
  transform: scale(1.35);
}

.gradient-border {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        90deg,
        #ea4335 19.83%,
        #fbbc05 65%,
        #34a853 82.29%,
        #4285f4 100%
      )
      border-box;
  border: 2px solid transparent;
}
ul li .icons_s {
  background: var(--icon-color) !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
