/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* THEME VARIABLES */
:root {
  --font-family: "Poppins", sans-serif;
  --bgc-item: #e3e3e3;
  --bg: #ffffff;
  --bgc: #ffffff;
  --text-color: #202c36;
}

.dark_mode {
  --bgc-item: #2b3945;
  --bg: #202c36;
  --bgc: #2b3945;
  --text-color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
header {
  margin-top: 28px;
  padding-bottom: 26px;
}

/* INTRO TOP BAR */
.intro_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro_block {
  display: flex;
  gap: 14px;
}

.dropdown {
  position: relative;
  width: 80px;
  cursor: pointer;
  user-select: none;
  background: var(--bg);
  color: var(--text-color);
}

.dropbtn {
  font-size: 12px;
  background: var(--bgc);
  color: var(--text-color);
  padding: 12px;
  border-radius: 6px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: var(--bg);
  border-radius: 6px;
  overflow: hidden;
  z-index: 9999;
}

.dropdown-content div {
  padding: 12px;
  font-size: 12px;
  font-family: var(--font-family);
  color: var(--text-color);
}

.dropdown-content div:hover {
  background: rgba(0, 0, 0, 0.1);
}

.dropdown.active .dropdown-content {
  display: block;
}

.intro_list {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
}

.intro_list_items,
.intro_list_item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
}

.intro_list_item {
  position: relative;
  cursor: pointer;
}

.doira {
  position: absolute;
  top: -8px;
  left: 10px;
  border-radius: 50%;
  background-color: red;
  width: 18px;
  height: 18px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 18px;
}
.doira:active {
  color: rebeccapurple;
}
.dark {
  background: var(--bgc);
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark_note_1,
.dark_note_2 {
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 100px;
  width: 58px;
  height: 58px;
}

.dark_note_2 {
  display: none;
}
.dark_mode {
  background-color: var(--bg);
  color: var(--text-color);
}

.light_mode {
  background-color: var(--bgc);
  color: var(--text-color);
}

.login {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  background: #33a0ff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* HERO NAVBAR */
.header_hero {
  margin-top: 30px;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.hero_list {
  width: 817px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_list_item a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.kok {
  color: #33a0ff;
}
/* banner button */

#carusel-btn-list-right {
  position: absolute;
  bottom: 150px;
  right: 3rem;
  display: flex;
  gap: 0.7rem;
}
.btn-arrow {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
}
.btn-arrow:hover {
  background-color: var(--btn-color);
}
#carusel-btn-list-left {
  position: absolute;
  bottom: 4rem;
  left: 3rem;
  display: flex;
  gap: 0.4rem;
}

.carusel-btn {
  border-radius: 100px;
  height: 8px;
  width: 8px;
  background-color: #fff;
}
.btn-long {
  width: 30px;
}
.btn-short {
  opacity: 0.5;
  cursor: pointer;
}

/* MAIN BANNER */
.main_banner {
  position: relative;
  margin-top: 30px;
  padding-bottom: 220px; /* banner kartalari uchun joy */
}

.banner_box {
  position: relative;
  width: 100%;
}

.banner_title {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  width: 380px;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000;
}

/* BANNER CARDS */
.banner_img {
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  position: relative;
}
.banner_list {
  width: 1253px;
  position: absolute;
  left: 50%;
  height: 358px;
  bottom: -250px;
  transform: translateX(-50%);
  display: flex;
  z-index: 9999;
}
.banner_img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  display: block;
}
.banner_list_item {
  background: var(--bgc-item);
  border-radius: 12px;
  padding: 31px 6px 15px 13px;
  position: relative;
  overflow: hidden;
  text-align: center;
  list-style: none;
  width: 417px;
}
.banner_item_title {
  max-width: 202px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: left;
  margin-left: 53px;
}
.card_img {
  width: 353px;
  display: block;
  margin: -70px 0;
}
.narx_1 {
  left: 53px;
}
.narx_2 {
  bottom: 30px;
  left: 143px;
}
.narx_3 {
  left: 53px;
  top: 102px;
}

.banner_card_skidka_1 {
  left: 100px;
}
.banner_card_skidka_2 {
  left: 226px;
  bottom: 30px;
}
.banner_card_skidka_3 {
  left: 140px;
  top: 102px;
}
.asl_narx_1 {
  bottom: 40px;
  right: 15px;
}

.asl_narx_2 {
  top: 21px;
  right: 37px;
}

.asl_narx_3 {
  bottom: 15px;
  right: 33px;
}
.narx_1,
.narx_2,
.narx_3 {
  position: absolute;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-decoration: line-through;
  color: #9098b1;
}
.banner_card_skidka_1,
.banner_card_skidka_2,
.banner_card_skidka_3 {
  position: absolute;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fb7181;
}
.asl_narx_1,
.asl_narx_2,
.asl_narx_3 {
  position: absolute;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #40bfff;
}

/* SELLER SECTION */
.seller {
  padding-top: 260px; /* banner karta pastda turgani uchun */
  padding-bottom: 113px;
}
.seller_title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 26px;
}
.seller_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 23px;
}
.seller_list_item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
}
.active {
  color: #33a0ff;
}

/* SELLER CARDS */
.seller_list_two {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
}
.seller_list_two_items {
  width: 260px;
  background: var(--bgc);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin: 15px;
}

/* Faqat mahsulot rasmi */
.seller_list_two_items > img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Title + stars */
.seller_box {
  margin: 5px 0 10px 0;
  text-align: center;
}

.seller_list_two_items_text {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 6px;
}

.seller_box .stars-img {
  width: 110px;
  height: auto;
}

/* Narxlar */
.seller_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 6px;
}

.narx {
  font-size: 16px;
  text-decoration: line-through;
  color: #aaa;
}

.skidka {
  font-size: 14px;
  color: red;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #33a0ff;
}
.add-cart {
  cursor: pointer;
}
.add-cart:active {
  background-color: red;
}
.seller_link {
  position: relative;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #33a0ff;
  text-align: center;
  margin-top: 36px;
}
.seller_link::after {
  position: absolute;
  content: "";
  width: 115px;
  height: 3px;
  background-color: #33a0ff;
  top: 26px;
  left: 46%;
  fill: none;
}

/* SERVICE */
.service {
  padding-bottom: 134px;
}

.service_list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.service_list_item {
  flex: 1;
  max-width: 360px;
  text-align: center;
}

.service_list_item img {
  margin-bottom: 12px;
}

/* SEARCH */
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}

.form {
  display: inline-flex;
  align-items: stretch;
}

#input {
  width: 527px;
  border: 3px solid #ddeefe;
  padding: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  opacity: 0.8;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.submit {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 14px 20px;
  border: none;
  background-color: blue;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #bcddfe;
  padding: 80px 0 33px;
}

.footer_block {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 80px;
}

.footer_list {
  max-width: 260px;
}

.footer_logo_row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #000;
}

.footer_list_items_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #000;
  margin-bottom: 25px;
}

.footer_content {
  display: flex;
  gap: 65px;
  margin-top: 10px;
}

.footer_list_item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.footer_icons {
  display: flex;
  gap: 30px;
  color: #33a0ff;
  margin-top: 10px;
}

.footer_item_discreption {
  width: 180px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.footer_box {
  padding-top: 20px;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer_box_img {
  width: 317px;
  height: auto;
}

/* TABLET */
@media (max-width: 992px) {
  .intro_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .hero_content {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .hero_list {
    flex-wrap: wrap;
    gap: 16px;
  }

  .banner_box {
    height: 320px;
  }

  .banner_title {
    font-size: 32px;
    width: 60%;
  }

  .banner_list {
    position: static;
    transform: none;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main_banner {
    padding-bottom: 40px;
  }

  .seller {
    padding-top: 40px;
  }

  .service_list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer_block {
    flex-direction: column;
    gap: 40px;
  }
}
/* MOBILE IMPROVED */
@media (max-width: 576px) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  header {
    margin-top: 16px;
    width: 100%;
  }

  .container {
    padding: 0 12px;
  }

  /* INTRO */
  .intro_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  .intro_list {
    flex-wrap: wrap;
    gap: 10px;
  }

  /* HERO NAV */
  .hero_content {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .hero_list {
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
  }

  /* MAIN BANNER */
  .banner_box {
    height: 240px;
    border-radius: 12px;
    overflow: hidden;
  }

  .banner_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner_title {
    font-size: 24px;
    left: 16px;
    width: 85%;
  }

  /* BANNER CARDS */
  .banner_list {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    position: static;
    transform: none;
  }

  .banner_list_item {
    width: 100%;
    max-width: 330px;
  }

  /* SELLER */
  .seller_list {
    flex-wrap: wrap;
    gap: 10px;
  }

  .seller_list_item {
    font-size: 14px;
    padding: 6px 10px;
  }

  .seller_list_two_items {
    width: 100%;
    max-width: 330px;
    margin: 10px auto;
    padding: 10px;
  }

  .seller_list_two_items > img {
    height: 190px;
  }

  /* SERVICE */
  .service_list {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  /* SEARCH */
  .search {
    padding: 0 10px;
  }

  .form {
    width: 100%;
  }

  #input {
    width: 100%;
  }

  /* FOOTER */
  footer {
    padding: 40px 0;
  }

  .footer_block {
    flex-direction: column;
    gap: 24px;
  }

  .footer_content {
    flex-direction: column;
    gap: 24px;
  }

  .footer_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer_box_img {
    width: 180px;
  }
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 0 12px;
  }

  /* HEADER INTRO */
  .intro_box {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .intro_block {
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
  }

  .intro_list {
    flex-wrap: wrap;
    gap: 10px;
  }

  /* HERO/NAV */
  .hero_content {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .hero_list {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }

  /* BANNER */
  .banner_box {
    height: 240px !important;
    border-radius: 12px;
    overflow: hidden;
  }

  .banner_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner_title {
    font-size: 22px !important;
    width: 80%;
    left: 10px !important;
    bottom: 20px !important;
  }

  .main_banner {
    padding-bottom: 60px !important;
  }

  .banner_list {
    position: static !important;
    transform: none !important;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    align-items: center;
  }

  .banner_list_item {
    width: 100% !important;
    max-width: 330px;
  }

  /* SELLER */
  .seller {
    padding-top: 40px !important;
  }

  .seller_list {
    flex-wrap: wrap;
    gap: 12px;
  }

  .seller_list_item {
    font-size: 14px;
    padding: 6px 10px;
  }

  .seller_list_two_items {
    width: 100%;
    max-width: 330px;
    margin: 10px auto;
  }

  .seller_list_two_items > img {
    height: 180px;
    object-fit: contain;
  }

  /* SERVICE */
  .service {
    padding-bottom: 60px;
  }

  .service_list {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  /* SEARCH */
  .search {
    padding: 0 12px;
  }

  .form {
    width: 100%;
  }

  #input {
    width: 100%;
  }

  .submit {
    padding: 14px 20px;
  }

  /* FOOTER */
  footer {
    padding: 40px 0 !important;
  }

  .footer_block {
    flex-direction: column;
    gap: 24px;
  }

  .footer_content {
    flex-direction: column;
    gap: 24px;
  }

  .footer_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .footer_box_img {
    width: 180px;
  }

  .footer_icons {
    gap: 20px;
  }
}
