body {
    background-color: chocolate;
}
h3,h2 {
    text-align: center;
    
}
p{
    font-size: small;
    color: black;
    font-style: italic;
    font-weight: bold;
}
.Birinchi {
background-color: white;
text-align: left;
color: black;
width: 400px;

}