@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  ol,
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.menuBtn {
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuBtn span {
  width: 6px;
  height: 6px;
  background: #555;
}

.menuBtn span:not(:last-child) {
  margin-bottom: 6px;
}
.menuBtn span {
  display: block;
  width: 6px;
  height: 10px;
  background: #555;
  margin: 3px 0;
}

.selected {
  @apply bg-green-500 text-white;
}
