@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

:root {
  --bg: #fff;
  --text-color: #202c36;
  --font-family: "Montserrat", sans-serif;
}

.dark_mode {
  --bg: #202c36;
  --bgc: #2b3945;
  --text-color: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
}
.nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  gap: 30px;
}
.nav_item {
  color: var(--text-color);
}
.nav_items,
.nav_item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--text-color);
  border: none;
}
a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
}
.login {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 100px;
  padding: 18px 30px;
  width: 142px;
  height: 58px;
  background: #299764;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}
.sun {
  border-radius: 100px;
  padding: 18px;
  width: 58px;
  height: 58px;
  background: #f5f5f5;
}
