* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  background: linear-gradient(to right, hsl(228, 95%, 15%), #0a2ab994);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(205, 15, 129);
  padding: 40px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  min-width: 395px;
  min-height: 250px;
}
h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: white;
}

#input_title {
  width: 250px;
  margin: 12px 0;
  padding: 11px 18px;
  border: 1px solid #ccc;
}
#addBtn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 11px 13px;
  cursor: pointer;
  border-radius: 11px;
}
.list_item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.delete-btn {
  border-radius: 6px;
  background-color: blue;
  color: white;
  padding: 8px 12px;
}
